In [2]:
import pandas as pd
import json

In [14]:
df = pd.read_csv("passwords1.txt", header=None, delim_whitespace=True)
df.head()

                      0
0  JV#0$S;D@j+c96/8C(W%
1  J,)e+LH'ENmdV5YGWu4B
2  tR0V2@$SNuU9;<&DafxO
3  /DXhI;GNl*nbCzKso=?@
4  b*ZB/egd=!XcvV>K(qY@

In [13]:
len(df)

95234682

In [19]:
df = df.rename(columns={0: "passwords"})
df.head()

              passwords
0  JV#0$S;D@j+c96/8C(W%
1  J,)e+LH'ENmdV5YGWu4B
2  tR0V2@$SNuU9;<&DafxO
3  /DXhI;GNl*nbCzKso=?@
4  b*ZB/egd=!XcvV>K(qY@

Now we create a dictionary where every password has 20 values that are the ascii values for every character.

In [ ]:
dic_ascii = {}
for i in df['passwords1']:
    if not dict_ascii[i]:
        asc = []
        for c in i:
            asc.append(ord(c))
        dic_ascii[i] = asc
with open('dic_ascii.json', 'w') as fp:
    json.dump(dic_ascii, fp)

In [ ]:
with open(r"dic_ascii.json", 'r') as file:
    data = file.read()
dic_ascii = json.loads(data)